test/node-red-nodes-flow.json
[
    {
        "id": "855b418d.bd5a2",
        "type": "inject",
        "z": "247e5a28.dd9776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 255,
        "y": 68,
        "wires": [
            [
                "c56941c8.acf7b"
            ]
        ]
    },
    {
        "id": "c56941c8.acf7b",
        "type": "function",
        "z": "247e5a28.dd9776",
        "name": "Form payload",
        "func": "var key = flow.get('literalkey') || Math.round(Math.random()*100000000);\nflow.set('literalkey', key);\nmsg.payload = {key, value: key}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 315,
        "y": 114,
        "wires": [
            [
                "8766572.25686a8"
            ]
        ]
    },
    {
        "id": "8766572.25686a8",
        "type": "create-data",
        "z": "247e5a28.dd9776",
        "name": "create data",
        "modelname": "Literal",
        "data": "",
        "x": 369,
        "y": 152,
        "wires": [
            [
                "4861b9f.8dc3c48",
                "1435096c.862467"
            ],
            [
                "4861b9f.8dc3c48",
                "1435096c.862467"
            ]
        ]
    },
    {
        "id": "dcaa04b8.eca1f8",
        "type": "http in",
        "z": "247e5a28.dd9776",
        "name": "",
        "url": "/literalinsert",
        "method": "get",
        "swaggerDoc": "",
        "x": 117,
        "y": 147,
        "wires": [
            [
                "c56941c8.acf7b"
            ]
        ]
    },
    {
        "id": "4861b9f.8dc3c48",
        "type": "http response",
        "z": "247e5a28.dd9776",
        "name": "",
        "x": 494,
        "y": 206,
        "wires": []
    },
    {
        "id": "d19245f6.97e938",
        "type": "inject",
        "z": "247e5a28.dd9776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 258,
        "y": 240,
        "wires": [
            [
                "fd8e63e4.5cb36"
            ]
        ]
    },
    {
        "id": "527d6081.4f3d8",
        "type": "http in",
        "z": "247e5a28.dd9776",
        "name": "",
        "url": "/literalfind",
        "method": "get",
        "swaggerDoc": "",
        "x": 120,
        "y": 319,
        "wires": [
            [
                "fd8e63e4.5cb36"
            ]
        ]
    },
    {
        "id": "f5d53893.9e6718",
        "type": "http response",
        "z": "247e5a28.dd9776",
        "name": "",
        "x": 497,
        "y": 378,
        "wires": []
    },
    {
        "id": "fd8e63e4.5cb36",
        "type": "function",
        "z": "247e5a28.dd9776",
        "name": "Form payload",
        "func": "var key = flow.get('literalkey') || Math.round(Math.random()*100000000);\nflow.set('literalkey', key);\nmsg.filter = {where:{key}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 318,
        "y": 286,
        "wires": [
            [
                "8b7e9ec.aecf66"
            ]
        ]
    },
    {
        "id": "8b7e9ec.aecf66",
        "type": "find-data",
        "z": "247e5a28.dd9776",
        "name": "find data",
        "modelname": "Literal",
        "filter": "",
        "x": 396.5,
        "y": 331,
        "wires": [
            [
                "f5d53893.9e6718",
                "4ac69ca0.720cc4"
            ],
            [
                "f5d53893.9e6718",
                "4ac69ca0.720cc4"
            ]
        ]
    },
    {
        "id": "c54344e3.d607c8",
        "type": "inject",
        "z": "247e5a28.dd9776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 253,
        "y": 430,
        "wires": [
            [
                "c05f1220.0255d"
            ]
        ]
    },
    {
        "id": "4a99d517.efe48c",
        "type": "http in",
        "z": "247e5a28.dd9776",
        "name": "",
        "url": "/literaldelete",
        "method": "get",
        "swaggerDoc": "",
        "x": 125,
        "y": 509,
        "wires": [
            [
                "c05f1220.0255d"
            ]
        ]
    },
    {
        "id": "dbe09128.0db95",
        "type": "http response",
        "z": "247e5a28.dd9776",
        "name": "",
        "x": 437,
        "y": 656,
        "wires": []
    },
    {
        "id": "c05f1220.0255d",
        "type": "function",
        "z": "247e5a28.dd9776",
        "name": "Form payload",
        "func": "var key = flow.get('literalkey') || Math.round(Math.random()*100000000);\nflow.set('literalkey', key);\nmsg.filter = {where:{key}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 313,
        "y": 476,
        "wires": [
            [
                "b187d567.b84d98"
            ]
        ]
    },
    {
        "id": "b187d567.b84d98",
        "type": "find-data",
        "z": "247e5a28.dd9776",
        "name": "find data",
        "modelname": "Literal",
        "filter": "",
        "x": 391.5,
        "y": 521,
        "wires": [
            [
                "dc654388.e2de2"
            ],
            [
                "dbe09128.0db95"
            ]
        ]
    },
    {
        "id": "bf6aa053.021b1",
        "type": "destroy-data",
        "z": "247e5a28.dd9776",
        "name": "destroy data",
        "modelname": "Literal",
        "x": 500.5,
        "y": 603,
        "wires": [
            [
                "dbe09128.0db95",
                "d4ef8f51.bf76a"
            ],
            [
                "dbe09128.0db95"
            ]
        ]
    },
    {
        "id": "1435096c.862467",
        "type": "debug",
        "z": "247e5a28.dd9776",
        "name": "create",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 530.5,
        "y": 134,
        "wires": []
    },
    {
        "id": "4ac69ca0.720cc4",
        "type": "debug",
        "z": "247e5a28.dd9776",
        "name": "find",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 539,
        "y": 295,
        "wires": []
    },
    {
        "id": "d4ef8f51.bf76a",
        "type": "debug",
        "z": "247e5a28.dd9776",
        "name": "delete",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 557,
        "y": 535,
        "wires": []
    },
    {
        "id": "dc654388.e2de2",
        "type": "function",
        "z": "247e5a28.dd9776",
        "name": "Get first entry",
        "func": "if (msg.payload.length) {\n    msg.payload = msg.payload[0];\n} else {\n    msg.payload = {\"id\":\"something\", \"_version\":\"something\"}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 338.5,
        "y": 564,
        "wires": [
            [
                "bf6aa053.021b1"
            ]
        ]
    }
]